@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}

.main-container > h1:first-child {
    margin-top: 0;
}

.table-actions {
    width: 55px;
    white-space: nowrap;
}

.fixed-table-wrapper {
    position: relative;
    max-height: 400px;
    overflow: auto;
    margin-top: -21px;
    margin-bottom: 10px;
}