<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
   <servlet>
        <servlet-name>configurationservlet</servlet-name>
        <servlet-class>nl.b3p.dbk.ConfigurationServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Features</servlet-name>
        <servlet-class>nl.b3p.dbk.DBKAPI</servlet-class>
        <init-param>
            <param-name>dbname</param-name>
            <param-value>dbk</param-value>
        </init-param>
        <init-param>
            <param-name>dbhost</param-name>
            <param-value>vru</param-value>
        </init-param>
        <init-param>
            <param-name>dbuser</param-name>
            <param-value>vru</param-value>
        </init-param>
        <init-param>
            <param-name>dbpassword</param-name>
            <param-value>vru</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Features</servlet-name>
        <url-pattern>/api/features.json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Features</servlet-name>
        <url-pattern>/api/object/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>configurationservlet</servlet-name>
        <url-pattern>/beheer/servlet/ConfigurationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
